* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --soft-red: hsl(0, 94%, 66%);
  --soft-blue: hsl(231, 69%, 60%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  height: 120px;
}

.header-container {
  max-width: 1100px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container ul {
  display: flex;
  justify-content: space-between;
}

.header-container ul li {
  margin: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  list-style-type: none;
}

.header-container a {
  color: var(--very-dark-blue)
}

.header-container .login {
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  background: var(--soft-red);
  border: 2px solid var(--soft-red);
  box-shadow: 0 5px 5px -2px lightgray;
}

.header-container a:hover {
  color: var(--soft-red)
}

.header-container .login:hover {
  background-color: white;
}

.intro-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.intro-text {
  width: 40%;
}

.intro-photo {
  width: 53%;
}

.intro-text h1 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--very-dark-blue);
  margin-bottom: 25px;
}

.intro-text p,
.features-container p,
.extension p {
  color: var(--grayish-blue);
  line-height: 24px;
  margin-bottom: 40px;
}

.intro-text a {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 5px 5px -2px lightgray;
}

.intro-text .chrome {
  background-color: var(--soft-blue);
  color: white;
  margin-right: 20px;
  border: 2px solid var(--soft-blue);
}

.intro-text .ff {
  background-color: #f7f7f7;
  color: hsl(229, 31%, 21%);
  border: 2px solid #f7f7f7;
}

.intro-text .chrome:hover {
  color: var(--soft-blue);
  background-color: white;
}

.intro-text .ff:hover {
  border: 2px solid hsl(229, 31%, 21%);
}

.intro-photo img {
  width: 100%;
}

/* .intro-photo::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 2rem;
  width: 500px;
  height: 300px;
  background: hsl(231, 69%, 60%);
  z-index: -1;
  border-top-left-radius: 30% 50%;
  border-bottom-left-radius: 30% 50%;
} */

.features-container {
  max-width: 1100px;
  margin: auto;
}

.features-container h2 {
  color: var(--very-dark-blue);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.features-container p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.menu {
  max-width: 680px;
  margin: auto;
  display: flex;
  border-bottom: 2px solid #e6e6ec;
}

.menu span {
  width: 33.3%;
  font-weight: 500;
  color: var(--grayish-blue);
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.menu span:hover {
  color: var(--soft-red);
}

.chosen {
  border-bottom: 4px solid var(--soft-red);
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding: 80px 20px 80px 0;
  align-items: center;
  justify-content: space-around;
}

.none {
  display: none;
}

.tab-photo {
  width: 40%;
}

.tab-photo img {
  width: 100%;
}

.tab-text {
  width: 40%;
}

.more-info {
  color: white;
  background: var(--soft-blue);
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid var(--soft-blue);
}

.more-info:hover {
  background-color: white;
  color: var(--soft-blue);
}

.extension {
  padding: 80px 0;
  max-width: 900px;
  margin: auto;
}

.browsers {
  margin: 50px 0 200px;
  display: flex;
  justify-content: space-between;
}

.browser {
  text-align: center;
  width: 30%;
  border: 1px solid #f3f3f3;
  border-top: none;
  padding: 30px 0;
  box-shadow: 0 7px 10px #e6e5e5;
}

.browser h3 {
  color: var(--very-dark-blue);
  margin: 30px 0 10px;
}

.browser p {
  margin-bottom: 20px;
}

.browser .dots {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.browser a {
  padding: 15px 25px;
  background: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  color: white;
  border-radius: 5px;
}

.browser a:hover {
  color: var(--soft-blue);
  background-color: white;
}

.firefox {
  position: relative;
  left: 0;
  top: 30px;
}

.opera {
  position: relative;
  left: 0;
  top: 60px;
}

.faq {
  max-width: 500px;
  margin: auto;
}

.questions {
  display: flex;
  flex-direction: column;
}

.question span {
  color: var(--very-dark-blue);
  font-weight: 500;
  text-align: start;
}

.question span:hover {
  color: var(--soft-red);
}

.transform {
  transform: rotate(180deg);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px dashed #ddd;
  cursor: pointer;
}

.bottom {
  border-bottom: 1px dashed #ddd;
}

.answer p {
  padding: 20px;
  margin: 0;
}

.inline {
  cursor: pointer;
  width: fit-content;
  margin: 50px auto 40px;
}

.contact {
  background-color: var(--soft-blue);
  padding: 70px 0;
  color: white;
  letter-spacing: 1px;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container span {
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.contact-container h2 {
  font-weight: 500;
  font-size: 28px;
  max-width: 400px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.email {
  display: flex;
  justify-content: space-between;
}

.contact-container input {
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  color: #333;
  outline: none;
  width: 300px;
  margin-right: 20px;
}

.contact-container a {
  background-color: var(--soft-red);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid var(--soft-red);
  font-weight: 500;
}

.contact-container a:hover {
  background: white;
  color: var(--soft-red);
}

footer {
  background: hsl(231.18deg 32.08% 20.78%);
  padding: 25px 0;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container ul {
  display: flex;
  justify-content: space-between;
}

.footer-container li {
  list-style-type: none;
  color: white;
  cursor: pointer;
  margin-left: 40px;
}

.footer-container li:hover {
  color: var(--soft-red);
}

.social-media img {
  margin-left: 10px;
  cursor: pointer;
}

.social-media img:hover {
  transform: scale(1.2);
}

@media (max-width: 1140px) {

  .header-container,
  .intro-container,
  .footer-container {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 1070px) {
  .intro-text h1 {
    font-size: 36px;
  }
}

@media (max-width: 1020px) {
  .intro-text h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .intro-text,
  .intro-photo {
    width: 50%;
  }

  .intro-text .chrome {
    margin-right: 10px;
  }
}

@media (max-width: 940px) {
  .extension {
    max-width: calc(100% - 80px);
  }

  .browser {
    width: 31%;
  }

  .contact {
    padding: 50px 0;
  }

  .tab-text h2 {
    font-size: 28px;
  }
}

@media (max-width: 810px) {
  .header-container ul li {
    margin: 15px;
  }

  .intro-text h1 {
    margin-bottom: 15px;
  }

  .intro-text a {
    padding: 8px 12px;
    font-weight: 400;
  }

  .browser {
    width: 32.5%;
  }

  .browser a {
    padding: 10px 15px;
  }

  .contact-container h2 {
    font-size: 24px;
  }

  .contact-container span {
    margin-bottom: 25px;
  }

  .contact-container input {
    margin-right: 10px;
  }

  .contact-container a {
    padding: 10px 15px;
  }
}

@media (max-width: 780px) {
  .header-container ul li {
    margin: 12px;
    font-size: 12px;
  }

  .footer-container ul li {
    margin: 15px;
  }

  .tab-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 732px) {
  .intro-container {
    padding: 30px 0 40px;
  }

  .footer-container ul li {
    font-size: 12px;
  }

  .intro-text h1 {
    font-size: 28px;
  }

  .intro-text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .intro-text a {
    padding: 7px 5px;
  }

  .intro-text .chrome {
    margin-right: 5px;
  }

  .features-container h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .tab-text h2 {
    font-size: 24px;
  }

  .tab-text p {
    font-size: 14px;
  }

  menu {
    max-width: calc(100% - 60px);
  }

  .extension {
    max-width: calc(100% - 60px);
  }

  .browser {
    width: 32.5%;
  }

  .browser a {
    padding: 8px 8px;
  }
}

@media (max-width: 670px) {
  .header-container ul li {
    margin-left: 8px;
  }

  .intro-container {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .intro-text,
  .intro-photo {
    width: 80%;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 36px;
  }

  .intro-text p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 40px;
  }

  .intro-text a {
    padding: 10px 20px;
  }

  .browsers {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .browser {
    width: 40%;
    margin: 20px;
  }

  .firefox,
  .opera {
    top: 0;
  }
}

@media (max-width: 600px) {

  .header-container ul li,
  .footer-container ul li {
    display: none;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 60px);
  }

  .menu span {
    width: 50%;
    border-top: 1px solid #ddd;
  }

  .tabs {
    flex-direction: column;
    justify-content: center;
  }

  .tab-photo,
  .tab-text {
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
  }

  .browsers {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .browser {
    width: 50%;
  }
}

@media (max-width: 540px) {
  .intro-text {
    width: 100%;
  }

  .intro-container h1 {
    font-size: 28px;
  }

  .features-container p {
    max-width: calc(100% - 60px);
  }

  .browser {
    width: 70%;
  }

  .tab-photo,
  .tab-text {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
  }

  .browsers {
    margin-bottom: 80px;
  }

  .email {
    flex-direction: column;
  }

  .contact-container input {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .contact-container a {
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    width: 150px;
  }

  .intro-text .chrome,
  .intro-text .ff {
    display: block;
    width: 60%;
    margin: 10px auto
  }
}

@media (max-width: 400px) {

  .header-container,
  .footer-container {
    max-width: calc(100% - 40px);
  }
}